
#login{
    background: url('../images/fundoLogin.png');
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#login > div{
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.507);
}
#login div > p{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#login div > input{
    margin: auto;
}
